uniface-uclaim/dtd/app_user.app.dtd

<!ELEMENT APP_USER (APP_USER.APP*)>
<!ELEMENT APP_USER.APP (ID.APP_USER.APP?, USERNAME.APP_USER.APP?, REGISTERED.APP_USER.APP?, LAST_LOGIN.APP_USER.APP?)>
<!ATTLIST APP_USER.APP id CDATA #REQUIRED>
<!ATTLIST APP_USER.APP crc CDATA #REQUIRED>
<!ATTLIST APP_USER.APP status CDATA #REQUIRED>
<!ELEMENT ID.APP_USER.APP (#PCDATA)>
<!ELEMENT USERNAME.APP_USER.APP (#PCDATA)>
<!ELEMENT REGISTERED.APP_USER.APP (#PCDATA)>
<!ELEMENT LAST_LOGIN.APP_USER.APP (#PCDATA)>
